@charset "UTF-8";

:root {
    --color-a: #B4BEC9;
    --color-b: #159A9C;
    --color-c: #002333;
    --color-d: #DEEFE7;
    --color-e: #FFFFFF;
    --font-a: 'Oswald', sans-serif;
    --font-b: 'Ubuntu', sans-serif;
}

header { background-color: var(--color-c); }

h1.navbar-brand {
    font-size: xx-large;
    color: var(--color-d);
    font-family: var(--font-a);
    font-weight: bolder;
    padding: 0.8rem;
}

header button {
    border: none;
    background-color: transparent;
}

.navbar > .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-toggle i {
    color: var(--color-b);
    font-size: xx-large;
}

.dropdown-menu li,
.dropdown-menu button {
    display: flex !important;
    justify-content: left !important;
    text-decoration: none !important;
}

abbr {
    display: flex !important;
    justify-content: left !important;
    align-items: center !important;
}

abbr > i {
    color: var(--color-b);
    font-size: 1.5em;
    margin-right: 3px !important;
}

abbr > span {
    color: var(--color-e);
}

main {
    background-color: var(--color-e);
    width: 100%;
    padding: 0.8rem;
    height: 100vh;
}

footer {
    background-color: #159A9C;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p {
    color: var(--color-e);
    font-family: var(--font-b);
}

footer a {
    color: var(--color-c);
    text-decoration: none;
}

@media screen and (min-width: 993px) {
    header h1 {
        transition: text-shadow 1s;
    }

    header h1:hover {
        cursor: pointer;
        text-shadow: 2px 2px 6px var(--color-b);
        color: var(--color-e) !important;
    }

    header i:hover { opacity: 0.5; }

    main {
        width: 50%;
        margin: auto;
    }

    footer a { text-decoration: none; }

    footer a:hover {
        color: var(--color-a);
        text-decoration: underline;
        font-style: italic;
    }
}
