@charset "UTF-8";

:root {
    --color-a: #B4BEC9;
    --color-b: #159A9C;
    --color-c: #002333;
    --color-d: #DEEFE7;
    --color-e: #FFFFFF;
    --font-a: 'Oswald', sans-serif;
    --font-b: 'Ubuntu', sans-serif;
}

body {
    background-color: var(--color-e);
}

main {
    margin: 1rem 0.3rem;
    padding: 1rem;
}

section.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bi-mastodon {
    color: var(--color-c);
    font-size: 4.5em;
    text-align: center;
    width: 100%;
    margin: auto;
}

h1 {
    font-family: var(--font-a);
    font-size: 2.4em;
    color: var(--color-a);
    margin: 0.4rem;
}

.label-section {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0.7rem 0rem;
}

.label-section i {
    margin-right: 3px;
    color: var(--color-b);
    font-size: 2em;
}

label {
    font-family: var(--font-b);
    color: var(--color-b);
    font-size: 1.6em;
}

input {
    background-color: var(--color-e);
    border: none;
    border-radius: 20rem;
    display: block;
    padding: 0.8rem 1rem;
    width: 100%;
    color: var(--color-a);
    font-family: var(--font-b);
    font-size: 1.2em;
    box-shadow: -3px 3px 6px var(--color-b);
}

input::placeholder {
    color: var(--color-a);
    font-family: var(--font-b);
    font-size: 1.2em;
}

button {
    border: none;
    font-family: var(--font-b);
    background-color: var(--color-c);
    font-size: 1.8em;
    color: var(--color-e);
    width: 100%;
    text-align: center;
    border-radius: 20rem;
    box-shadow: -3px 3px 6px var(--color-c);
}

button i {
    font-size: 1em;
    margin-right: 3px;
}

a {
    text-align: center;
    color: var(--color-c);
    font-family: var(--font-b);
    font-size: 1.3em;
}

@media screen and (min-width: 993px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    i { cursor: pointer; }

    h1 { cursor: pointer; }

    label { cursor: pointer; }

    button:hover { opacity: 0.9; }

    a { text-decoration: none; }

    a:hover {
        font-style: italic;
        text-decoration: underline;
    }
}
