{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M6 Todo - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block style_links %}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
              <h1 class="navbar-brand">M6 Todo</h1>
              <div class="d-flex">
                <div class="btn-group dropstart">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><abbr title="Definições"><i class="bi bi-house-gear-fill"></i></abbr></button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                      <li>
                        <button type="button" data-bs-target="#new-task-modal" data-bs-toggle="modal" id="add-new-task-btn">
                          <abbr title="Adicionar tarefa">
                            <i class="bi bi-plus-circle-fill"></i>
                            <span>Nova tarefa</span>
                          </abbr>
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item" type="button" id="home-btn">
                          <abbr title="Ir para homepage">
                            <i class="bi bi-house-fill"></i>
                            <span>Home</span>
                          </abbr>
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item" type="button" id="auth-logout-session">
                          <abbr title="Terminar sessão">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Terminar sessão</span>
                          </abbr>
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item" type="button" data-bs-target="#user-datas-modal" data-bs-toggle="modal">
                          <abbr title="Dados do perfil">
                            <i class="bi bi-person-lines-fill"></i>
                            <span>Informções do perfil</span>
                          </abbr>
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item" type="button">
                          <abbr title="Eliminar sua conta">
                            <i class="bi bi-person-dash"></i>
                            <span>Eliminar perfil</span>
                          </abbr>
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item" type="button">
                          <abbr title="Editar perfil">
                            <i class="bi bi-person-fill-gear"></i>
                            <span>Editar perfil</span>
                          </abbr>
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item" type="button">
                          <abbr title="Eliminar todas tarefas">
                            <i class="bi bi-trash-fill"></i>
                            <span>Limpar tarefas</span>
                          </abbr>
                        </button>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
        </nav>
    </header>
    <main>
    {% block main_content %}
    {% endblock %}
    </main>
    <footer class="container-fluid">
        <p>Copyright &copy; Todos os direitos reservados</p>
        <p>Desenvolvedor <a href="https://www.github.com/Manasses-Alberto/" target="_blank" rel="external">Manassés Ndombele</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% block script_links %}
    {% endblock %}
</body>
</html>
