{% extends 'base.html' %}
{% load static %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock %}
{% block main_content %}
        <article>
            <h2>Lista de tarefas</h2>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Pesquise suas tarefas..." aria-label="Pesquise suas tarefas..." aria-describedby="task-search" id="task-search">
                <button class="btn btn-outline-secondary" type="button" id="task-search-btn"><i class="bi bi-search"></i></button>
            </div>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#tasks-element" data-bs-target="tasks-element">Todas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#done-tasks-element" data-bs-target="done-tasks-element">Concluídas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#undone-tasks-element" data-bs-target="undone-tasks-element">Inconcluídas</a>
              </li>
            </ul>
            <div id="tasks-element" class="tasks-display">
              {% if task_number == 0 %}
              <div class="data-error">
                <i class="bi bi-emoji-frown-fill"></i>
                <p class="text-danger text-center lead">Você não tem nehuma tarefa salva!</p>
              </div>
              {% else %}
              <ul class="list-group">
                {% for task in tasks %}
                <li class="task list-group-item d-flex justify-content-between align-items-start general-task" data-bs-target="{{ task.ID }}">
                  <div class="ms-2 me-auto">
                    <p class="fw-bold task-title">{{ task.title }}</p>
                    <p>{{ task.start }} -- {{ task.end }}</p>
                  </div>
                  {% if task.done %}
                  <span class="badge bg-success rounded-pill">0</span>
                  {% else %}
                  <span class="badge bg-danger rounded-pill">0</span>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <div id="done-tasks-element" class="tasks-display">
              {% if done_tasks == 0 %}
              <div class="data-error">
                <i class="bi bi-emoji-frown-fill"></i>
                <p class="text-danger text-center lead">Você não tem nehuma tarefa concluída!</p>
              </div>
              {% else %}
              <ul class="list-group">
                {% for task in tasks %}
                {% if task.done %}
                <li class="task-done list-group-item d-flex justify-content-between align-items-start general-task" data-bs-target="{{ task.ID }}">
                  <div class="ms-2 me-auto">
                    <p class="fw-bold done-task-title">{{ task.title }}</p>
                    <p>{{ task.description }}...</p>
                  </div>
                  <span class="badge bg-success rounded-pill">0</span>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <div id="undone-tasks-element" class="tasks-display">
              {% if undone_tasks == 0 %}
              <div class="data-error">
                <i class="bi bi-emoji-frown-fill"></i>
                <p class="text-danger text-center lead">Você não tem nehuma tarefa inconcluída!</p>
              </div>
              {% else %}
              <ul class="list-group">
                {% for task in tasks %}
                {% if not task.done %}
                <li class="task-undone list-group-item d-flex justify-content-between align-items-start general-task" data-bs-target="{{ task.ID }}">
                  <div class="ms-2 me-auto">
                    <p class="fw-bold undone-task-title">{{ task.title }}</p>
                    <p>{{ task.description }}...</p>
                  </div>
                  <span class="badge bg-danger rounded-pill">0</span>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
              {% endif %}
            </div>
        </article>
        <aside>
            <div class="modal fade" id="user-datas-modal" tabindex="-1" aria-labelledby="Dados do usuario" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="user-modal-title">Os seus dados</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <label for="username-field">Nome de usuário</label>
                            <input type="text" name="username" id="username-field" class="field-text" disabled value="Manassés Ndombele">
                            <label for="email-field">Email</label>
                            <input type="email" name="email" id="email-field" class="field-text" disabled value="manassesndombele88@gmail.com">
                            <label for="password-field">Senha</label>
                            <input type="password" name="password" id="password-field" class="field-text" disabled value="KALI/LINUX/2021.1"> 
                        </form>
                        <p>Tarefas registradas: <span>82</span></p>
                        <p>Tarefas concluídas: <span>65</span></p>
                        <p>Tarefas por concluir: <span>15</span></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn" data-bs-dismiss="modal" id="close-modal">Fechar</button>
                      <button type="button" class="btn btn-process" id="edit-user-datas-btn"><i class="bi bi-pencil-square"></i>Editar</button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal fade" id="new-task-modal" tabindex="-1" aria-labelledby="Nova tarefa" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="task-modal-title">Nova tarefa</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form class="modal-body" method="post" action="{% url 'new_task' %}">
                        {% csrf_token %}
                        <label for="title-field" class="my-2">Título</label>
                        <input type="text" name="title" id="title-field" placeholder="Título" class="form-control" required>
                        <label for="start-datetime-field" class="my-2">Começo</label>
                        <input type="datetime" name="start-datetime" id="start-datetime-field" placeholder="Data e hora para iniciar" class="form-control" required>
                        <label for="end-datetime-field" class="my-2">Fim</label>
                        <input type="datetime" name="end-datetime" id="end-datetime-field" placeholder="Data e hora para terminar" class="form-control" required>
                        <label for="description-field" class="my-2">Descrição</label>
                        <textarea name="description" id="description-field" cols="30" rows="5" placeholder="Descreva a sua tarefa" class="form-control"></textarea>
                        <input type="submit" value="Enviar" class="visually-hidden" id="submit-new-task">
                    </form>
                    <div class="modal-footer">
                      <button type="button" class="btn" data-bs-dismiss="modal" id="close-modal">Fechar</button>
                      <button type="button" class="btn btn-process" id="save-task-btn"><i class="bi bi-floppy-fill"></i>Salvar</button>
                    </div>
                  </div>
                </div>
            </div>
        </aside>
{% endblock %}
{% block script_links %}
<script src="{% static 'scripts/index.js' %}"></script>
{% endblock %}
